.home-page {
    height: 80em;
}
.home-background-color {
    height: 32em;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-splash-block {
    margin-top: 1em;
    /* width: 42em; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.home-splash-img {
    width: 70%;
}
.home-title-main-text {
    margin-top: -3.25em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.45em;
}
.home-title-bot-text {
    /* margin-top: -0.15em; */
    /* color: rgb(34, 145, 159); */
    color: rgb(54, 134, 104);
    text-align: center;
    font-size: 1.45em;
}

.home-page-space {
    height: 18em;
}

.laptop-img-block {
    text-align: center;
    margin-bottom: 14em;
}
.laptop-text {
    margin-bottom: 3em;
    margin-left: -6em;
    color: rgb(172, 80, 141);
    font-size: 1.25em;
}
.laptop-img {
    width: 70%;
}

.home-nav-box-top {
    height: 3em;
    background-color: #34b3d3;
    color: white;
    font-size: 1.25em;
    padding-top: 0.75em;
    padding-left: 1.5em;
}
.home-nav-card {
    cursor: pointer;
    margin-top: 1em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #34b3d3 !important; 
}
.home-page-rep-main-text {
    font-size: 1em;
    color: #34b3d3;
    height: 8em;
    padding-top: 0.5em;
}
.home-page-icon {
    font-size: 4.25em !important;
    margin-top: 0.25em;
    margin-left: 0.25em;
}
.home-link-bar {
    height: 0.75em;
}
.home-end-card {
    cursor: pointer;
    margin-top: 1em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #99c782 !important; 
}
.home-end-box-top {
    height: 3em;
    background-color: #99c782;
    color: white;
    font-size: 1.25em;
    padding-top: 0.75em;
    padding-left: 1.5em;
}
.home-page-end-main-text {
    font-size: 1em;
    color: #99c782;
    height: 7em;
    padding-top: 1.75em;
}
.home-end-page-icon {
    font-size: 3.75em !important;
    margin-top: -0.1em;
    margin-left: 0.25em;
}

.home-client-card {
    cursor: pointer;
    margin-top: 1em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #bb7fda !important; 
}
.home-client-box-top {
    height: 3em;
    background-color: #bb7fda;
    color: white;
    font-size: 1.25em;
    padding-top: 0.75em;
    padding-left: 1.5em;
}
.home-page-client-main-text {
    font-size: 1em;
    color: #bb7fda;
    height: 7em;
    padding-top: 1.78em;
}
.home-client-page-icon {
    font-size: 3.25em !important;
    margin-top: 0em;
    margin-left: 0.55em;
}